/* Login.css */

.login {
  width: 100%;
  max-width: 900px; /* Daha geniş form */
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.login h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  text-align: center;
  color: #333;
}

.login form label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: 600;
}

.login form span {
  color: red;
}

.login input[type="email"],
.login input[type="password"],
.login input[type="text"] {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
}

.password-input-wrapper {
  position: relative;
}

.password-input-wrapper input {
  padding-right: 40px; /* Sağda ikon için boşluk */
  box-sizing: border-box;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #555; /* İkonun rengi koyu gri */
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-toggle-icon:focus {
  outline: none;
}

.login-button {
  width: 100%;
  padding: 0.9rem;
  background-color: #e60023;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1.2rem; /* Buton ile input arasındaki mesafe sabit */
}
.login-button {
  width: 200px;
  margin: 1.2rem auto 0; /* üst boşluk + yatay otomatik ortala + alt 0 */
  display: block; /* buton zaten block değilse ekle */
}

.parent-container {
  display: flex;
  justify-content: center;
}


.login-button:hover {
  background-color: #007bff;
}

.login-links {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.help-link {
  color: #007bff;
  font-weight: 500;
  text-decoration: none;
}

.help-link:hover {
  text-decoration: underline;
}

.register-link {
  font-size: 0.95rem;
}

.register-link a {
  color: #e60023;
  font-weight: bold;
  margin-left: 0.25rem;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.link-button {
  color: #e60023;
  font-size: large;
  font-weight: bold;
  margin-left: 0.25rem;
  text-decoration: none;
  background-color: white;
  border: none;
  cursor: pointer;
}

.link-button-span {
  font-size: large;
  background-color: white;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
